{% extends "base.html" %}
{% block title %}My Blog{% endblock %}

{% block content %}  
  <h1>Login</h1>
  {% if wrong %}
    <h2 class="error">Username or password is wrong!</h2>
  {% endif %}
  <form action="" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Login">
  </form>
{% endblock %}