<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Pirouz</title>
  </head>
  <body>
    <h1>Pirouz Web Framework!</h1>
    <h2>Your ID: {{ id }}</h2>
    <h3>All users</h3>
    <ul>
      {% for user in users %}
      <li>{{ user }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
